h1{
  color: rgba(0,200,120,0.9);
  border-color: purple;
  border-width: 10px;
  border-style: dashed;
}

#li1{

  color: rgba(250,255,100,1);
  /* this is just id*/
}

li{
  border: 5px solid black !important;
  color: rgba(130,200,60,0.7);
}

.li2{
  border: 10px dashed green !important;
  /* this is class id*/
}

h4{
  background: rgba(255,255,100,0.9);
  color: rgba(255,20,100,0.5);
}

body{
  background-image:  url(3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
}
/* border color
has width,color and style */
